.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.footer-title {
  color: $white;
  font-size: $text-big;
}

.footer-img {
  margin-top: 20px;
  width: 400px;
}

.footer-msg {
  align-self: flex-end;
  color: $white;
  font-size: $text-small;
}

@media only screen and (max-width: 1024px) {

  .footer-title {
    font-size: $text-medium;
  }

  .footer-msg {
    align-self: center;
    margin-top: 40px;
  }
}
