.footer {
  align-items: center;
  background-color: $blue;
  display: grid;
  grid-auto-columns: 100%;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.footer-title {
  color: $white;
  font-size: $text-big;
}

.footer-img {
  margin-top: 20px;
  width: 400px;
  justify-self: center;
}

.footer-msg {
  color: $white;
  font-size: $text-small;
  justify-self: end;
}
