%nav-item {
  position: relative;
  top: 30px;
  bottom: 30px;
  line-height: 30px;
  display: inline-block;
}

.navbar {
  margin: 0;
  position: fixed;
  width: 100%;
  height: $nav-height;
  text-align: right;
  z-index: 1;
  font-size: $text-big;
  background-color: white;
  box-shadow: 0 10px 10px 0 $grey;

  .nav-img {
    @extend %nav-item;
    float:left;
    background-image:url("assets/wolox_logo.svg");
    height: $nav-logo-height;
    width: $nav-logo-width;
    left: 10px;
  }

  .nav-text {
    @extend %nav-item;
    right: 10px;
  }
}
