$nav-height: 70px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-small: 12px;
$text-medium: 16px;
$title-size: 30px;
$title-font: "Roboto", sans-serif;
