.tech-footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  padding: 20px;
}

.footer-title {
  color: white;
  font-size: $text-big;
}

.footer-img {
  background-image: url("assets/wolox_logo_white.svg");
  height: 60px;
  margin-top: 20px;
  width: 400px;
}

.footer-msg {
  align-self: flex-end;
  color:white;
}
