.tech-container {
  height: 400px;
  width: 250px;
  margin: 30px 30px 30px 30px;
}

.tech-img {
    width: $tech-logo-size;
    height: $tech-logo-size;
  }

.tech-subtitle {
  font-size: $text-medium;
  position: relative;
  margin: 10px auto;
}
.tech-bold {
    font-size: $text-medium;
    position: relative;
    margin: 0 0 20px 0;
    font-weight: bold;
}

.tech-description {
  font-size: $text-small;
  text-align: center;
  margin: 10px auto;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 310px;
  justify-content: flex-start;
  position: relative;
  padding: 10px 40px 30px 15px;
  width: 210px;

  &::before {
    border: 1px solid $green;
    position: absolute;
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    left: -12px;
    top: -12px;
    border-radius: 6px;
  }
}
