.tech-container {
  display: flex;
<<<<<<< HEAD
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 30px;
  max-width: 1000px;

}

=======
  flex-wrap: wrap;
  padding: 30px;
}

>>>>>>> master
.tech-img {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.tech-subtitle {
  font-size: $text-medium;
  margin: 10px auto;
}
.tech-bold {
  font-size: $text-small;
  font-weight: bold;
  margin-bottom: 20px;
}

.tech-description {
  font-size: $text-small;
  margin: 0 10px;
  text-align: center;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  height: 275px;
  margin: 20px;
  padding: 10px;
  position: relative;
  width: 190px;
=======
  height: 300px;
  margin: 10px 20px;
  padding: 12px;
  position: relative;
  width: 200px;
>>>>>>> master


  &::before {
    border: 1px solid $green;
    border-radius: 6px;
<<<<<<< HEAD
    content: "";
    height: 100%;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: -1;
  }

  &:hover::before {
    border: 1px solid #BED23C;
    border-radius: 6px;
    content: "";
    height: 100%;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 100%;
    z-index: -1;
  }
=======
    content: "";
    height: 100%;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: -1;
    transition: top 0.8s, left 0.8s;
  }

  &:hover {
    &::before {
      left: 8px;
      top: 8px;
    }
  }
>>>>>>> master
}
