.tech-container {
  display: grid;
  grid-template-columns: repeat(4,250px);
  grid-template-rows: repeat(2,330px);
  padding: 30px;
}

.tech-img {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.tech-subtitle {
  font-size: $text-medium;
  margin: 10px auto;
}
.tech-bold {
  font-size: $text-small;
  font-weight: bold;
  margin-bottom: 20px;
}

.tech-description {
  font-size: $text-small;
  margin: 0 10px;
  text-align: center;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 100px 40px 35px auto;
  height: 300px;
  margin: 10px 20px;
  padding: 12px;
  position: relative;
  width: 200px;
  text-align: center;


  &::before {
    border: 1px solid $green;
    border-radius: 6px;
    content: "";
    height: 100%;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: -1;
    transition: top 0.8s, left 0.8s;
  }

  &:hover {
    &::before {
      left: 8px;
      top: 8px;
    }
  }
}
