.tech-title {
  color: black;
  font-size: $title-size;
  line-height: 30px;
  left: 20px;
  position: relative;

  &::before{
    background: url(assets/triangle.svg) no-repeat;
    content: "";
    height: $title-decoration-height;
    width: $title-decoration-width;
    left: -50px;
    top: -30px;
    position: absolute;
    z-index: -1;
  }
}
