$title-size: 30px;
$title-font: "Roboto", sans-serif;
.title {
  color: black;
  font-size: $title-size;
  font-style: $title-font;
  line-height: 30px;
  position: relative;
  padding: 0 0 0 10px;


}

.title::before{
  content: url("assets/triangle.svg");
  display: inline-block;
  height: $title-decoration-height;
  width: $title-decoration-width;
}
