.topbar {
  background-color: $blue;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  width: 100%;
}

.topbar-button {
  background-color: $white;
  border-radius: 15px;
  border-width: 2px;
  font-size: 30px;
  height: 50PX;
  margin: 25px 5px;
  text-align: center;
  width: 190PX;;
}

.topbar-text {
  color: $white;
  font-size: 30px;
  margin: 30px 50px;
  margin-right: auto;
}

.topbar-icon {
  height: 30px;
  width: 30px;
}

.dd-wrapper {
  @extend .topbar-button;
  position: absolute;
  right: 420px;
}


.dd-list-item {
  font-size: 18px;
}
