@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Cosmetic form styles */
body,
button {
  font-family: 'Poppins', sans-serif;
}

/* Restrict the form's max-width for the sake of responsiveness; center the content */
form {
  max-width: 320px;
  padding: 30px;
  margin: auto;
}

/* Move the text input label up above the input when the input is focused */
/* Also, move the text input label above the input when there is content inside the input, so that the label doesn't obscure the content */
input:focus + label,
.dirty input + label {
  font-size: 12px;
  top: -12px;
  color: $black;
}

input {
  outline: 0;
  padding: 0;
  border-width: 0 0 3px 0;
}

input,
label,
button[type='submit'] {
  font-size: 20px;
}

select {
  height: 30px;
}

label {
  font-size: 12px;
}

select,input,button[type='submit'] {
  width: 100%;
}

button[type='submit'] {
  background-color: $orange;
  border-radius: 5px;
  color: $white;
  margin-top: 30px;
}

.valid input {
  border-color: $green;
}

.invalid input {
  border-color: $red;
}

.error-text {
  background-color: $red;
  color: $white;
  margin: 10px 0;
  position: relative;
}

.error-text::before {
  content: '';
  border-color: transparent transparent red transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 7px;
  position: absolute;
  left: 20px;
  top: -8px;
}

@keyframes grey-pulse {
  0% {
    border-color: $grey;
  }
  50% {
    border-color: #EEE;
  }
  100% {
    border-color: $grey;
  }
}

.async-validating input {
  border-color: $grey;
  animation-name: grey-pulse;
  animation-iteration-count: infinite;
  animation-duration: 1.4s;
}
